<!DOCTYPE html>
{% load  staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Food </title>
    <link type="text/css" rel="stylesheet" href="{% static 'Manager/css/table_style.css' %}">
</head>
<body>
Update food items<br>
<form  method="post" action="{% url 'update_food' %}">
    {% if item %}
        <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {% for items in item %}
        <tr>
            <td><input type="number" value="{{ items.Food_id }}"/></td>
            <td><input type="text" value="{{ items.Food_Name }}"/></td>
            <td><input type="number" value="{{ items.Food_Price }}"/></td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% csrf_token %}
    <input type="submit" value="Update">
</form>
</body>
</html>