{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafeteria</title>
    <link rel = "stylesheet" type="text/css" href="{% static 'User/main.css' %}">
</head>
<body>
    <header>
        <div class = "Heading">cafeteria</div>
        <div class = "Option1" >
            Sign in
        </div>
        <div class = "Option2" >
            Sign up
        </div>
    </header>
    <br>
    <div class = "SlideShow">
        <img class = "SlideImage" src = "{%static "Homepage/cafeteria_01.jpg" %}" >
    </div>
    <div class = "SlideShow">
        <img class = "SlideImage" src = "{%static "Homepage/cafeteria_02.jpg" %}" >
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    <div style="margin-left : 49%;margin-top : -3%">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
    </div>
    <div>
        <div class = "About">
            <h1>About</h1>
            Our Service is Wonderful to experience....
        </div>
        <div id = "Food">
            <h1>Things that worth waiting!!</h1>
            <div class="card">
                <img class="CardImage" src="{%static "Homepage/Kebab.jpg" %}" alt="Avatar">
                <div class="container">
                    <h4><b>Kebabs</b></h4>
                    <p>Price : 100Rs</p>
                </div>

            </div>
            <div class="card">
                <img class="CardImage" src="{%static "Homepage/role.jpeg" %}" alt="Avatar">
                <div class="container">
                    <h4><b>roles</b></h4>
                    <p>Price : 100Rs</p>
                </div>
            </div>
            <div class="card">
                <img class="CardImage" src="{%static "Homepage/burger.jpg" %}" alt="Avatar">
                <div class="container">
                    <h4><b>roles</b></h4>
                    <p>Price : 100Rs</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>
<script type = "text/javascript">
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("SlideShow");
      let dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
</script>